:root {
    --primary-color: #422d88;
    --secondary-color: #fff5b0;
    --tertiary-color: #de4444;
    --text-color: #fff;
    --button-bg-color: #fff;
    --button-text-color: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#logo-accueil {
    max-width: 300px;
    margin-bottom: 20px;
}

button {
    padding: 15px 30px;
    margin: 10px;
    font-size: 18px;
    border: none;
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--tertiary-color);
}

.container {
    background-color: #fff5b0; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

h1 {
    text-align: center;
    color: #422d88;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 16px;
    color: #636f77; 
    margin-bottom: 8px;
}

input {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #cfbbee; 
    border-radius: 5px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #422d88;
    color: #fff;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #de4444;
}

.message {
    text-align: center;
    color: #636f77;
}

.message a {
    color: #422d88;
}

.error {
    color: var(--tertiary-color);
}

.container-game {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.game {
    flex: 1;
    position: relative;
    overflow: hidden;
    transition: flex-grow 0.3s ease;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    height: 100%;
}

.game:hover {
    flex-grow: 2;
}

.game:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease;
}

.game:hover:before {
    opacity: 0;
}

.game h2 {
    color: var(--text-color);
    text-align: center;
    padding: 20px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.game p {
    color: var(--text-color);
    text-align: center;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.game button {
    position: absolute;
    bottom: 35%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

